<!doctype html>
<html>
  <head>
    <title>Python Social Auth</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <h1>CreditPiggy</h1>
      <p>
        <a class="btn btn-default" href="/login/google-oauth2/">Google Oauth2 Login</a>
        <a class="btn btn-default" href="/login/twitter/">Twitter OAuth Login</a>
        <a class="btn btn-default" href="/login/facebook/">Facebook OAuth2 Login</a>
        <a class="btn btn-default" href="/login/live/">MSN Live OAuth2 Login</a>
      </p>
    </div>

  </body>
</html>
