{% extends "base/p_content.html" %}
{% load staticfiles %}

{% block head %}
	<meta http-equiv="refresh" content="0.5; url={{ next }}?{{url_suffix}}">
{% endblock %}

{% block content %}
	
	<p class="lead">You are now logged in</p>
	<p>You will be redirected in a second, if not click on the button below to continue.</p>
	<p><a href="{{ next }}?{{url_suffix}}" class="btn btn-primary">Continue</a></p>

    <!-- Script callbacks -->
    <script type="text/javascript">
    var o = window.opener || window.parent;
    o.postMessage(JSON.stringify({"action": "session", "session": {{ session|safe }}}), "*");
    </script>

{% endblock %}