{% extends "base/p_plain.html" %}
{% load staticfiles %}

{% block content %}
	<div class="header-spacer"></div>
	<div class="row">
		<div class="col-sm-5 login-logo">
			<div class="row">
				<div class="col-xs-6 col-sm-12">
					{% if website %}
					<img class="logo" src="{{ website.icon }}" alt="CreditPiggy" />
					{% else %}
					<img class="logo" src="{% static "frontend/img/logo.png" %}" alt="CreditPiggy" />
					{% endif %}
				</div>
				<div class="clearfix hidden-xs"></div>
				<div class="col-xs-6 col-sm-12 {% if not website %}spaced-icon{% endif %}">
					{% if website %}
					<h4>{{ website.name }}</h4>
					{% else %}
					<img class="slogan" src="{% static "frontend/img/logo-slogan.png" %}" alt="Your virtual contribution credit bank" />
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-sm-7">

			<div class="panel panel-default">
		  		<div class="panel-heading">Login with social profile</div>
		  		<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<a class="btn btn-default btn-social btn-lg btn-block" href="/login/google-oauth2/?{{url_suffix}}"><i class="fa fa-google-plus-square"></i> Google</a>
							<a class="btn btn-default btn-social btn-lg btn-block" href="/login/twitter/?{{url_suffix}}"><i class="fa fa-twitter-square"></i> Twitter</a>
						</div>
						<div class="col-sm-6 spacer-5">
							<a class="btn btn-default btn-social btn-lg btn-block" href="/login/facebook/?{{url_suffix}}"><i class="fa fa-facebook-square"></i> Facebook</a>
							<a class="btn btn-default btn-social btn-lg btn-block" href="/login/live/?{{url_suffix}}"><i class="fa fa-windows"></i> Live</a>
						</div>
					</div>
			  </div>
			</div>

			<div class="panel panel-default">
		  		<div class="panel-heading">Login with your e-mail</div>
		  		<div class="panel-body">
		  			<form>
		  				<p>
			  				<input type="text" class="form-control" placeholder="Enter your e-mail" id="inputEmail">
			  			</p>
			  			<p>
							<button type="submit" class="btn btn-default btn-block">Login</button>
						</p>
					</form>
		  		</div>
		  	</div>

		</div>
	</div>
{% endblock %}
