{% extends "base/html.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
		<h1><img align="absmiddle" src="{% static "frontend/logo-icon.png" %}" /> CreditPiggy</h1>
		<p>
			<a class="btn btn-default" href="/login/google-oauth2/">Google Oauth2 Login</a>
			<a class="btn btn-default" href="/login/twitter/">Twitter OAuth Login</a>
			<a class="btn btn-default" href="/login/facebook/">Facebook OAuth2 Login</a>
			<a class="btn btn-default" href="/login/live/">MSN Live OAuth2 Login</a>
		</p>
    </div>
{% endblock %}
