{% extends "base/p_content.html" %}
{% load staticfiles %}
{% block content %}
    <form class="form-inline">
        <h2>Welcome to CreditPiggy, <input data-url="profile.set" name="name" value="{{ user.display_name }}" class="form-control x-blur-update"></input></h2>
    </form>
    <p>
        This is your virtual piggy-bank where you can keep the credits you collect from the on-line projects you contribute to.
    </p>


    <div class="row">
      <div class="{% if show_social %}col-sm-4{% else %}col-sm-6{% endif %}">

        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>Projects</h4>
            <p>
              Many amazing projects are awaiting for you to explore.
            </p>
            <p><a class="btn btn-default" href="{% url 'frontend.projects' %}?{{url_suffix}}">Explore</a></p>        
          </div>
        </div>

      </div>
      <div class="{% if show_social %}col-sm-4{% else %}col-sm-6{% endif %}">

        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>About me</h4>
            <p>
              Overview of what you have contributed to all the projects.
            </p>
            <p><a class="btn btn-default" href="{% url 'frontend.dashboard' %}?{{url_suffix}}">Dashboard</a></p>        
          </div>
        </div>

      </div>

      {% if show_social %}
      <div class="col-sm-4">

        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h4>Link account</h4>
            <p>
              {% if social_links.google_oauth2 %}
              <a class="btn btn-default btn-social btn-lg btn-block" href="/login/google-oauth2/?mode=link&amp;{{url_suffix}}"><i class="fa fa-google-plus-square"></i> Google</a>
              {% endif %}
              {% if social_links.twitter %}
              <a class="btn btn-default btn-social btn-lg btn-block" href="/login/twitter/?mode=link&amp;{{url_suffix}}"><i class="fa fa-twitter-square"></i> Twitter</a>
              {% endif %}
              {% if social_links.facebook %}
              <a class="btn btn-default btn-social btn-lg btn-block" href="/login/facebook/?mode=link&amp;{{url_suffix}}"><i class="fa fa-facebook-square"></i> Facebook</a>
              {% endif %}
              {% if social_links.live %}
              <a class="btn btn-default btn-social btn-lg btn-block" href="/login/live/?mode=link&amp;{{url_suffix}}"><i class="fa fa-windows"></i> Live</a>
              {% endif %}
            </p>        
          </div>
        </div>

      </div>
      {% endif %}

    </div>

    <p>
      {% if website %}
      <a class="btn btn-info pull-right" href="/website/{{ website.slug }}/?{{url_suffix}}">
        Back to <strong>{{ website.name }}</strong> status
      </a>
      {% endif %}
      <a class="btn btn-primary" href="/logout/?{{url_suffix}}">Logout</a>
    </p>

{% endblock %}
