{% extends "base/basic.html" %}
{% block content %}
    <h1>CreditPiggy</h1>
    {% if user.is_authenticated %}
      <div class="user-details">
        You are logged in as <code>{{ user.username }}</code>!
      </div>
    {% endif %}
    <p><a class="btn btn-danger" href="/logout/">Logout</a></p>

    <h2>Link Account</h2>
    <p>
      <a class="btn btn-default" href="/link/google-oauth2/">Google Oauth2 Login</a>
      <a class="btn btn-default" href="/link/twitter/">Twitter OAuth Login</a>
      <a class="btn btn-default" href="/link/facebook/">Facebook OAuth2 Login</a>
      <a class="btn btn-default" href="/link/live/">MSN Live OAuth2 Login</a>
    </p>

  </div>
{% endblock %}
