{% extends "base/p_content.html" %}
{% load piggy_extras %}

{% block head %}{% verbatim %}
<script type="x-tmpl-mustache" id="tpl-project">
<div class="media">
	<div class="media-left">
		<a href="/project/{{ id }}{% endverbatim %}?{{url_suffix}}{% verbatim %}">
      	<img class="media-object" style="width: 80px" src="{{ profile_image }}" alt="{{ display_name }} logo">
		</a>
	</div>
	<div class="media-body">
    	<h4 class="media-heading">{{ display_name }}</h4>
    	<div class="collapsible">
        <input id="col_{{ id }}" type="checkbox" checked="checked" />
        <div>
      		{{{ desc }}}
        </div>
        <label for="col_{{ id }}"><span></span></label>
    	</div>
      <p>
        <a href="/project/{{ id }}{% endverbatim %}?{{url_suffix}}{% verbatim %}" class="btn btn-sm btn-primary">More details</a>
        {{#project_url}}
        <a href="{{ project_url }}{% endverbatim %}?{{url_suffix}}{% verbatim %}" class="btn btn-sm btn-default" target="_blank">Project Website</a>
        {{/project_url}}
      </p>
    	<br />
      {% endverbatim %}
      {% include "chunks/projectfooter.html" %}
      {% verbatim %}
	</div>
</div>
</script>
{% endverbatim %}{% endblock %}

{% block content %}

   	<h2>Projects participating in CreditPiggy</h2>
   	<p class="text-smaller">
   		In the following list you can browse all the projects that are using CreditPiggy for keeping track of their user's contributions.
   		If you are interested in any of them click on them to read more.
   	</p>

    <p>
      <div class="btn-group pull-right" role="group" aria-label="sort-order">
        <button type="button" class="btn btn-info">Promoted</button>
        <button type="button" class="btn btn-default">Most active</button>
        <button type="button" class="btn btn-default">Newest</button>
      </div>
      <a class="btn btn-default" href="/?{{url_suffix}}"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    </p>
   	<hr />

	<div class="x-paginated project-list" data-url="fetch.projects" data-template="#tpl-project">

	</div>


{% endblock %}
