{% extends "base/p_content.html" %}
{% load staticfiles %}

{% block head %}
	<meta http-equiv="refresh" content="60">
{% endblock %}

{% block content %}
	
	<h2>{{ project.display_name }} - Project Details</h2>

	<div class="media">
		<div class="media-left">
			<a href="#">
	      		<img class="media-object" style="width: 120px" src="{{ project.profile_image }}" alt="Project Image">
			</a>
		</div>
		<div class="media-body text-smaller">
	        <div>
	      		{{ project.desc|safe }}
	        </div>
	      <p>
	      	{% if project.project_url %}
	        <a href="{{ project.project_url }}" class="btn btn-sm btn-default" target="_blank">Project Website</a>
	      	{% endif %}
	      </p>

		  <h2>Status</h2>
		  {% include "chunks/metrics.html" with show_own=user.is_authenticated own=usermetrics %}

		  <h2>Achievements</h2>
		  {% include "chunks/achievements.html" with showAll=True modal_group="achievement" %}
	
		</div>
	</div>


	<p><a href="{% url 'frontend.projects' %}?{{url_suffix}}" class="btn btn-primary">Project List</a></p>

{% endblock %}