{% extends "base/p_content.html" %}
{% block content %}
	<h1>Projects Contributed</h1>
	
	<table class="table">
		<tr>
			<th>Project</th>
			<th>Credits</th>
			<th>Action</th>
		</tr>
		{% if projects %}
			{% for p in projects %}
			<tr>
				<td>{{ p.project.display_name }}</td>
				<td>{{ p.credits }}</td>
				<td>
					<a href="/credits/?project={{ p.project.id }}?{{url_suffix}}" class="btn btn-primary btn-xs">See Slots</a>
				</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="3" class="text-muted text-center">(No projects)</td>
			</tr>
		{% endif %}
	</table>

{% endblock %}
