{% extends "base/p_bigheader.html" %}

{% block head %}
	<meta http-equiv="refresh" content="60">
{% endblock %}

{% block header_content %}
	<h1>{{ website.name }}</h1>
	<p>{{ website.short }}</p>
{% endblock %}

{% block content %}

	<h2>In a glimpse</h2>
	{% include "chunks/bigmetrics.html" with show_own=user.is_authenticated own=usermetrics %}
	{% if campaign %}
	<p>
		&nbsp;<a href="{% url 'frontend.dashboard.overview.campaign' campaign=campaign.id %}?{{url_suffix}}" class="btn btn-sm btn-default pull-right">See more details</a> 
	</p>
	{% endif %}
	<hr />
	
	{% if achievements %}
	<h2>Achievements</h2>
	{% include "chunks/achievements.html" with showAll=True %}
    {% include "chunks/achievement_next.html" with candidate=candidate_achievement %}    
	<hr />
	{% endif %}

	<h2>Hosted projects</h2>
	<div class="project-list">
		{% for p in projects %}
		<div class="media">
			<div class="media-left">
				<a href="/project/{{ p.slug }}?{{url_suffix}}">
				<img class="media-object" style="width: 80px" src="{{ p.profile_image }}" alt="{{ p.display_name }} logo">
				</a>
			</div>
			<div class="media-body">
				<strong class="media-heading">{{ p.display_name }}</strong>
				<div class="collapsible">
					<input id="col_{{ p.id }}" type="checkbox" checked="checked" />
					<div>
						{{ p.desc | safe }}
					</div>
					<label for="col_{{ p.id }}"><span></span></label>
				</div>
			  <p>
				<a href="/project/{{ p.slug }}/?{{url_suffix}}" class="btn btn-sm btn-primary">More details</a>
				{% if p.project_url %}
				<a href="{{ p.project_url }}" class="btn btn-sm btn-default" target="_blank">Project Website</a>
				{% endif %}
			  </p>
			</div>
		</div>
		{% endfor %}
	</div>
	
{% endblock %}
