
# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
import os
import sys

# Disable debugging
DEBUG = False
ALLOWED_HOSTS = [ "creditpiggy.cern.ch" ]

# Google OAuth2 Credentials
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = ""
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = ""

# Twitter OAuth Credentials
SOCIAL_AUTH_TWITTER_KEY = ""
SOCIAL_AUTH_TWITTER_SECRET = ""

# FAcebook OAuth2 Credentials
SOCIAL_AUTH_FACEBOOK_KEY = ""
SOCIAL_AUTH_FACEBOOK_SECRET = ""

# MSN Live OAuth2 Credentials
SOCIAL_AUTH_LIVE_KEY = ""
SOCIAL_AUTH_LIVE_SECRET = ""

# REDIS Database Configuration
REDIS_HOST = "127.0.0.1"
REDIS_PORT = 6379
REDIS_DB = 0
REDIS_KEYS_PREFIX = ""

# Timeseries value count
TS_VALUE_COUNT = 30

# Default Database
DEFAULT_DATABASE = {
	'ENGINE': 'django.db.backends.sqlite3',
	'NAME': os.path.join(os.path.dirname(os.path.dirname(os.path.dirname(__file__))), 'db.sqlite3'),
}

# Default cace
DEFAULT_CACHE = {
	'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
	'LOCATION': '127.0.0.1:11211',
}

# Logging set-up
LOGGING = {
	'version': 1,
	'handlers': {
		'console': {
			'class': 'logging.StreamHandler',
			'stream': sys.stdout,
		}
	},
	'root': {
		'handlers': ['console'],
		'level': 'INFO'
	}
}
