{% extends "base/html.html" %}
{% load staticfiles %}

{% block body %}
    <div class="container">
	    <div class="piggy-logo-header">
	      <div class="logo" style="background-image: url({% block header_icon %}{% static "frontend/img/logo-120.png" %}{% endblock %})">
	      </div>
	    </div>

	    <div class="well">
	    	{% block content %}{% endblock %}
	    </div>

    </div>
{% endblock %}
{% block footer %}
    <p class="text-center">
        <img src="{% static 'frontend/img/powered-by.png' %}" alt="Powered by CreditPiggy" />
    </p>
{% endblock %}
