{% extends "base/email.html" %}
{% block body %}
	<h1><a href="{{ base_url }}/profile/">{{ achievement.name }} achieved!</a></h1>
	<p>Congratulations {{ user.display_name }}! You have just unlocked the <strong>{{ achievement.name }}</strong> achievement.</p>

	<div class="badge text-center">
		<div>
			<a style="border:none" href="{{ base_url }}/profile/achievments/">
				<img alt="{{ achievement.name }} badge" src="{{ achievement.icon }}" />
			</a>
			<blockquote style="color: {{ achievement.color }}">
			{{ achievement.desc | safe }}
			</blockquote>
		</div>
	</div>

	<table class="project">
		<tr>
			<td>
				<a style="border:none" href="{{ base_url }}/project/{{ project.slug }}">
					<img src="{{ project.profile_image }}" style="width: 45px" />
				</a>
			</td>
			<td>This is an achievement from the <strong>{{ project.display_name }}</strong> project. On behalf of the people behind this project we would like to say a big thank you for your support!</td>
		</tr>
	</table>
{% endblock %}

{% block footer %}
	<p class="discreet text-center">
		You are receiving this message when a new achievement is reached because of your contribution.<br />
		You can change this in your <a href="{{ base_url }}/profile/">Profile</a>.
	</p>
{% endblock %}