<style type="text/css">
body {
	background-color: #EEE;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
}
h1 {
	color: #662D91;
}
h1 a {
	color: #662D91;
	text-decoration: none;
}

#content {
	width: 320px;
	margin: 20px auto;
}
#content .badge > div {
    width: 300px;
    margin: 0 auto;
}
#content .badge img {
    width: 250px;
}

#content blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 16px;
}

#content .body {
	background-color: #FFF;
	padding: 5px 20px;
}

@media (min-width: 768px) {
	#content {
		width: 550px;
	}
}

.project {
	color: #999;
	font-size: 12px;
}
.project td {
	padding: 10px;
}

.discreet {
	color: #999;
	font-size: 12px;
}
.discreet a {
	color: #999;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.btn {
    text-transform: uppercase;
    border-right: none;
    border-bottom: none;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.btn-default {
    -webkit-background-size: 200% 200%;
    background-size: 200%;
    background-position: 50%;
    color: #666666;
    background-color: #ffffff;
    border-color: #eeeeee;
}

.btn-default:active {
    background-color: #f0f0f0;
    background-image: -webkit-radial-gradient(circle, #f0f0f0 10%, #fff 11%);
    background-image: -o-radial-gradient(circle, #f0f0f0 10%, #fff 11%);
    background-image: radial-gradient(circle, #f0f0f0 10%, #fff 11%);
    background-repeat: no-repeat;
    -webkit-background-size: 1000% 1000%;
    background-size: 1000%;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    color: #666666;
    border-color: #cfcfcf;
    outline: 0;
}

.btn-default:hover {
    color: #666666;
    background-color: #f0f0f0;
    border-color: #cfcfcf;
}

</style>
