{% extends "base/p_unstyled.html" %}
{% load staticfiles %}

{% block head %}
	<meta http-equiv="refresh" content="61">
{% endblock %}

{% block content %}
<div class="embed-frame">
	{% if not user %}
	<div class="embed-login-banner">
		<div>
			<h2>You can log-in to see your progress</h2>
		    <p class="text-center">
		        <img src="{% static 'frontend/img/powered-by.png' %}" alt="Powered by CreditPiggy" />
		    </p>
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="col-sm-6">
			{% include "chunks/achievement_next.html" with candidate=candidate_achievement %}    
		</div>
		<div class="col-sm-6">
			{% include "chunks/achievements.html" with showAll=True modal_size="modal-lg" modal_group="achievement" %}
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}