{% load piggy_extras %}
{% load tz %}
	<div id="achievement-modal-{{ index }}" class="modal modal-compact-footer fade">
	  <div class="modal-dialog {{ modal_size }}">
	    <div class="modal-content">

		  <!-- Modal header -->
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">{{ achievement.achievement.name }}</h4>
	      </div>

		  <!-- Modal body -->
	      <div class="modal-body">
			<div class="row">
				<div class="col-xs-4">
					<img src="{{ achievement.achievement.icon }}" style="width: 100%" />
				</div>
				<div class="col-xs-8">
					<!-- Description -->
					{{ achievement.achievement.desc|safe }}
					{% if achievement.project %}
					<p>Project: <strong>{{ achievement.project }}</strong></p>
					{% elif achievement.campaign %}
					<p>Campaign: <strong>{{ achievement.campaign }}</strong></p>
					{% endif %}
					<!-- Unlocked / Achieved date -->
					{% if achievement.achieved %}
						<p class="text-success">
							{% localtime on %}
							Achieved on <strong>{{ achievement.details.date }}</strong>
							{% endlocaltime %}
						</p>
					{% endif %}
					{% if achievement.instances %}
						<p class="text-success">
							{% localtime on %}
							Achieved by <strong>{{ achievement.instances }}</strong> user{{ achievement.instances|pluralize }}
							{% endlocaltime %}
						</p>
					{% endif %}
					<!-- Requirements -->
					<table class="table table-condensed">
						<tr>
							<th>Counter</th>
							<th>Value</th>
						</tr>
						{% for k,v in achievement.achievement|get_metrics %}
						<tr>
							<td>{{ k }}</td>
							<td>&gt;= {{ v }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
	      </div>

	      <!-- Modal footer -->
	      <div class="modal-footer">
	      	{% if achievement.achieved %}
		        <a type="button" class="btn btn-info" target="_blank" href="{% url 'frontend.share.achievement' aid=achievement.share_id %}">Share this achievement</a>
		    {% endif %}
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>

	    </div>
	  </div>
	</div>
