{% load piggy_extras %}
<div class="metrics dashboard-metrics">
	<div class="row">

		<!-- First Panel -->
		<div class="col-sm-3">
		    {% include "chunks/metric_small.html" with alignClass="text-left" hideEmpty=True metric=metrics.0 %}
		    {% include "chunks/metric_small.html" with alignClass="text-left" hideEmpty=True metric=metrics.2 %}
		    {% include "chunks/metric_small.html" with alignClass="text-left" hideEmpty=True metric=metrics.4 %}
		</div>

		<!-- Second Panel -->
		<div class="col-sm-6 framed-soft-shadow">
		    {% include "chunks/credit_rank.html" %}
		</div>

		<!-- Third Panel -->
		<div class="col-sm-3">
		    {% include "chunks/metric_small.html" with alignClass="text-right" hideEmpty=True metric=metrics.1 %}
		    {% include "chunks/metric_small.html" with alignClass="text-right" hideEmpty=True metric=metrics.3 %}
		    {% include "chunks/metric_small.html" with alignClass="text-right" hideEmpty=True metric=metrics.5 %}
		</div>
		
	</div>
</div>