{% load piggy_extras %}
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Ranking</th>
			<th>Name</th>
			<th>Coinks</th>
		</tr>
	</thead>
	<tbody>
		{% for rank in scores %}
		<tr>
			<td width="100" class="{% if rank.me %}text-primary text-strong{% endif %}">#{{ rank.rank }}</td>
			{% if not rank.priv_leaderboards or rank.display_name|empty %}
			<td class="text-muted {% if rank.me %}text-primary text-strong{% endif %}">(A Shy User)</td>
			{% else %}
			<td class="{% if rank.me %}text-primary text-strong{% endif %}">{{ rank.display_name }}</td>
			{% endif %}
			<td width="200" class="{% if rank.me %}text-primary text-strong{% endif %}">{{ rank.score | thousands }} &nbsp;<span class="icon-coink"></span></td>
		</tr>
		{% endfor %}
		{% if not scores %}
		<tr>
			<td colspan="3" class="text-muted text-center">(Leaderboard is not available)</td>
		</tr>
		{% endif %}
	</tbody>
</table>