{% load piggy_extras %}
<div class="metrics small-metrics">
	<div class="row">

		<!-- First Panel -->
		<div class="col-sm-9">
		{% for metric in metrics %}
			<div class="row">
				<div class="col-xs-6 head">
					<i class="{{ metric.icon }}"></i>&nbsp; {{ metric.display_name }}:
				</div>
				<div class="col-xs-6">
					{{ metric.value | thousands }}
					{% if show_own %}
						<span class="own">/ {{ own | item_value:forloop.counter0 | thousands }}</span>
					{% endif %}
					<small>{{ metric.units }}</small>
				</div>
			</div>
		{% endfor %}
		</div>

	</div>
</div>