
.transition(@params) {
 -webkit-transition: @params;
    -moz-transition: @params;
    -o-transition: @params;
       transition: @params; }

.transform(@params) {
 -webkit-transform: @params;
    -moz-transform: @params;
    -o-transform: @params;
       transform: @params; }

// =================================
//  GENERAL STRUCTURES
// =================================

// Fixes for background image
// ---------------------------------
html {
	min-height: 100%;
}

// Body configurations
// ---------------------------------
body {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
	font-size: 16px;
}

div.container.solid {
	background-color: #f9f9f9;
}
@media (min-width: 768px) {
	div.container.solid {
		margin-top: 25px;	
	}
}

h2 {
	font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 10px 0 13px;
    font-weight: 300;
    line-height: 1.4;
    font-size: 19.2px;
}

.inactive {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
	opacity: 0.7;
}

// Horizontal piggy logo helper
// ---------------------------------
.piggy-logo-header {
    height: 80px;
    position: relative;
    margin-top: 10px;

    .logo {
		width: 126px;
	    height: 126px;
	    border-radius: 63px;
	    padding-left: 5px;
	    padding-top: 4px;
	    position: absolute;
	    right: 0;
    }
}

// Green border and back
// ---------------------------------
.btn-achieved {
	border: solid 1px #4caf50;
	background-color: #E0F1E0;
}

// Composition for structuring login
// page elements
// ---------------------------------
.piggylogo-big {
	> img {
		width: 100%;
		&.flat {
			display: block;
		}
		&.big {
			display: none;
		}
	}
}
.spacer-5 {
	margin-top: 5px;
}
@media (min-width: 768px) {

	.piggylogo-big {
		> img {
			&.flat {
				display: none;
			}
			&.big {
				display: block;
			}
		}
	}

	.header-spacer {
		height: 75px;
	}

	.spacer-5 {
		margin-top: 0;
	}

}

// Plots
// ---------------------------------
div.plot {
	div.plot-graph {
		height: 200px;
	}
}

// Account panel
// ---------------------------------
div.panel-account {
	text-align: center;
	background-color: #9C27B0;
	color: #FFF;

	img {
		background-color: #FFF;
		width: 58px;
		max-height: 58px;
		border-radius: 100px;
		border: solid 4px #CC99CC;
		margin: 10px auto;
	}

	div.account-name {
		height: 75px;
		line-height: 75px;

		> div {
			vertical-align: middle;
			line-height: 16px;
			display: inline-block;
		}
	}

}
@media (min-width: 768px) {
	div.panel-account {
		height: 150px;

		div.account-name {
			> div {
				vertical-align: middle;
			}
		}

	}
}

// Big metrics panel
// ---------------------------------
div.big-metrics {
	margin: 10px 5px;
	text-align: right;
	
	> div {
		font-size: 20px;
		i {
			color: #999;
		}
		.subtitle {
			text-align: left;
			font-size: 14px;
			padding-top: 8px;
		}
	}

}

@media (min-width: 768px) {
	div.big-metrics {
		text-align: center;

		> div {
			.subtitle {
				text-align: center;
				padding-top: 0;
			}
			> div {
				border-right: solid 1px #666;
			}
			> div:last-child {
				border-right: none !important;
			}
		}

	}
}

// =================================
//  STYLING FOR P_WHEADER
// =================================

div.panel-page-header {

	div.panel-project {
		height: 150px;
		position: relative;

		background-image: url(http://test4theory.cern.ch/about/img/behind.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
		background-position: 0 0;

		div.panel-project-title {
			position: absolute;	
			left: 0; top: 10px; width: 100%;
			padding: 4px 5px 4px 20px;

			div.title-content {
				position: relative;
				h1 {
				    color: inherit;
					font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
				    font-weight: 300;
				    line-height: 1.4;
				    font-size: 25px;
				    margin: 2px 0;
				}
				p {
					opacity: 0.6;
					color: inherit;
					font-size: 14px;
				    margin: 2px 0;
				}

			}

			div.title-back {
				height: 100%;
				left: 0px;
			    right: 0px;
				position: absolute;

				// background-image: url(http://test4theory.cern.ch/about/img/behind.jpg);
				background-size: cover;
				background-repeat: no-repeat;
				// overflow: hidden;
				background-position: 0 -12px;

			    -webkit-filter: blur(20px);
			    -moz-filter: blur(20px);
			    -o-filter: blur(20px);
			    -ms-filter: blur(20px);
			    filter: blur(20px);
			    opacity: 0.8;

			}

		}

	}
}

// =================================
//  ELEMENT HELPERS
// =================================

// Pull-left icons of social buttons
// ---------------------------------
.btn-social {
	i {
		float: left;
		font-size: 1.5em;
		margin-top: -3px;
  	}
}

// In-line form in header text
// ---------------------------------
.form-inline {
	p, h1, h2, h3, h4 {
		input {
			font-size: inherit;
			vertical-align: 0px;
		}
	}
}

// Smaller text
// ---------------------------------
.text-smaller {
	font-size: 14px;
}

// Loading indicator 
// ---------------------------------
.loading-indicator {
	height: 30px;
	background-image: url(../img/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

// Achievements layout
// ---------------------------------
div.achievements {
	> div {
		padding: 5px;
		label {
			width: 100px;
		}
		.icon {
			position: relative;
			width: 48px;
			height: 48px;
			margin: 0 auto;
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;

			.edge-badge {
				position: absolute;
				right: -2px;
				bottom: -2px;
				color: #000;
				font-size: 20px;
			}
		}

	}
}

// =================================
//  COMPLEX COMPONENTS
// =================================

// Utility for auto-collapsing body
// ---------------------------------
div.collapsible {
	> div {
		.transition( max-height 0.25s ease-in );
		overflow: hidden;
		max-height: 500px;
		position: relative;
		margin-bottom: 10px;

		&:after {
			.transition( top 0.25s ease-in );
		    content: " ";
		    display: block;
		    background-color: #fefefe;
		    height: 3px;
		    position: absolute;
		    width: 100%;
		    box-shadow: #fefefe 0px -4px 15px;
		    top: 500px;
		}
	}
	> input {
		height: 1px; width: 1px;
		position: absolute;
		visibility: hidden;
		&:checked + div {
			.transition( max-height 0.25s ease-out );
			max-height: 65px;
			&:after {
				.transition( top 0.25s ease-out );
			    top: 65px;
			}
		}
		&:checked + div + label > span:after {
			content: "Read more";
		}
	}
	> label {
		float: right;
		> span::after {
			content: "Read less";
			font-size: 14px;
			color: #29ABE2;
			cursor: pointer;
		}
	}
}
