html {
  height: 100%;
}
body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  font-size: 16px;
}
body.unstyled {
  background-color: #f5f5f5;
  background-image: none;
  padding: 0;
  margin: 0;
}
body.unstyled > div.container-fluid {
  min-height: 100%;
}
body.unstyled.clip-gradient::before,
body.unstyled.clip-gradient::after {
  content: " ";
  height: 50px;
  display: block;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
}
body.unstyled.clip-gradient:not(.clip-gradient-bottom)::before {
  top: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,f5f5f5+100&1+0,0+100 */
  background: -moz-linear-gradient(top, #f0f0f0 0%, rgba(240, 240, 240, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0f0), color-stop(100%, rgba(240, 240, 240, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f0f0f0 0%, rgba(240, 240, 240, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f0f0f0 0%, rgba(240, 240, 240, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f0f0f0 0%, rgba(240, 240, 240, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f0f0f0 0%, rgba(240, 240, 240, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@unstyled-background', endColorstr='#00f5f5f5', GradientType=0);
  /* IE6-9 */
}
body.unstyled.clip-gradient:not(.clip-gradient-top)::after {
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,f5f5f5+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #f0f0f0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 240, 240, 0)), color-stop(100%, #f0f0f0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #f0f0f0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #f0f0f0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(240, 240, 240, 0) 0%, #f0f0f0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(240, 240, 240, 0) 0%, #f0f0f0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f5f5f5', endColorstr='@unstyled-background', GradientType=0);
  /* IE6-9 */
}
h2,
h3 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0 13px;
  font-weight: 300;
  line-height: 1.4;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
.img-dim img,
.img-dim .glyphicon {
  opacity: 0.5;
}
.clickable {
  cursor: pointer;
}
.modal-compact-footer .modal-body {
  padding-bottom: 0;
}
.modal-compact-footer .modal-footer {
  margin-top: 0;
  padding-top: 0;
}
.icon-coink {
  display: inline;
  background-image: url(../img/coink.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 2px 11px;
  width: 24px;
}
.inactive {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
  opacity: 0.7;
}
.fix-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.no-scroll {
  overflow: hidden;
}
.left-border {
  border-left: solid 1px #CCC;
  min-height: 100%;
}
.text-strong {
  font-weight: bold;
}
div.back-splash {
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
div.framed-soft-shadow {
  background-color: #FFF;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
  -o-box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  div.framed-soft-shadow {
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
div.embed-frame {
  padding-top: 10px;
  min-height: 100%;
}
div.embed-frame div.achievements {
  margin-top: 20px;
}
.embed-login-banner {
  width: 100%;
  height: 100%;
}
.embed-login-banner h2 {
  color: #999;
}
.embed-login-banner div {
  top: 50%;
  left: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
  position: absolute;
}
div.container.solid {
  background-color: #f9f9f9;
}
@media (min-width: 768px) {
  div.container.solid {
    margin-top: 25px;
  }
}
.piggy-logo-header {
  height: 80px;
  position: relative;
  margin-top: 10px;
}
.piggy-logo-header .logo {
  width: 126px;
  height: 126px;
  border-radius: 63px;
  padding-left: 5px;
  padding-top: 4px;
  position: absolute;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  right: 0;
}
.btn-achieved {
  border: solid 1px #4caf50;
  background-color: #E0F1E0;
}
.login-logo {
  padding: 10px;
}
.login-logo img.slogan,
.login-logo img.logo {
  width: 90%;
  max-height: 100%;
}
.login-logo .spaced-icon {
  margin-top: 15%;
}
.login-logo .row > div {
  text-align: center;
}
.login-logo h4 {
  text-shadow: #fff 1px 1px;
}
.login-logo .logo-framed {
  border: solid #eee;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px;
}
@media (min-width: 768px) {
  .login-logo .spaced-icon {
    margin-top: 10px;
  }
}
.piggylogo-big > img {
  width: 100%;
}
.piggylogo-big > img.flat {
  display: block;
}
.piggylogo-big > img.big {
  display: none;
}
.spacer-5 {
  margin-top: 5px;
}
@media (min-width: 768px) {
  .piggylogo-big > img.flat {
    display: none;
  }
  .piggylogo-big > img.big {
    display: block;
  }
  .header-spacer {
    height: 60px;
  }
  .spacer-5 {
    margin-top: 0;
  }
}
div.website-achievements div.achievement-past {
  width: 80%;
  margin: 0 auto;
}
div.website-achievements div.achievement-past img {
  width: 30px;
}
div.website-achievements div.achievement-past p {
  padding-left: 38px;
}
div.website-achievements div.achievement-past h2 {
  margin-bottom: 0;
}
div.website-achievements div.achievement-current {
  margin: 20px 20px 20px 20px;
  padding: 10px;
}
div.website-achievements div.achievement-current > img {
  float: left;
  width: 64px;
}
div.website-achievements div.achievement-current > div.body {
  margin: 16px 0 0 72px;
}
div.website-achievements div.achievement-current > div.body h2 {
  margin-bottom: 5px;
}
div.website-achievements div.achievement-current > div.body p {
  font-size: 0.8em;
}
div.website-achievements div.achievement-current > div.body div.metric .metric-progress {
  float: left;
  width: 50%;
  height: 10px;
  border: solid 1px #666;
  padding: 1px;
  margin: 8px 0;
}
div.website-achievements div.achievement-current > div.body div.metric .metric-progress .metric-progress-indicator {
  height: 6px;
  background-color: #666;
}
div.website-achievements div.achievement-current > div.body div.metric .metric-label {
  float: right;
  padding-left: 10px;
  width: 50%;
}
div.plot div.plot-graph {
  height: 200px;
}
a.panel-account {
  display: block;
  text-align: center;
  background-color: #9C27B0;
  color: #FFF;
}
a.panel-account:hover {
  background-color: #A448B7;
}
a.panel-account img {
  background-color: #FFF;
  width: 58px;
  max-height: 58px;
  border-radius: 100px;
  border: solid 4px #CC99CC;
  margin: 10px auto;
}
a.panel-account div.account-name {
  height: 75px;
  line-height: 75px;
}
a.panel-account div.account-name > div {
  vertical-align: middle;
  line-height: 16px;
  display: inline-block;
}
@media (min-width: 768px) {
  a.panel-account {
    height: 150px;
  }
  a.panel-account div.account-name > div {
    vertical-align: middle;
  }
}
div.metrics {
  padding: 4px;
}
div.metrics .head {
  font-weight: bold;
}
div.metrics .own {
  color: #9C27B0;
  text-align: left;
  font-size: 16px;
}
div.metrics .own-label {
  font-size: 16px;
  text-align: right;
  color: #9C27B0;
  opacity: 0.5;
}
div.metrics > div {
  font-size: 16px;
}
div.metrics > div i {
  font-size: 20px;
}
div.big-metrics {
  margin: 10px 5px;
}
@media (min-width: 768px) {
  div.big-metrics > div > div > div > div {
    border-right: solid 1px #666;
  }
  div.big-metrics > div > div > div > div.own {
    border-right: solid 1px #fff;
  }
  div.big-metrics > div > div:last-child > div > div {
    border-right: none !important;
  }
}
div.big-metric {
  font-size: 20px;
  text-align: right;
}
div.big-metric .own {
  background-color: #9C27B0;
  color: #FFF;
}
div.big-metric .own-label {
  font-style: italic;
  color: #B163C1;
}
div.big-metric i {
  color: #999;
}
div.big-metric .subtitle {
  text-align: center;
  font-size: 14px;
  padding-top: 8px;
}
@media (min-width: 768px) {
  div.big-metric {
    text-align: center;
  }
  div.big-metric .own {
    text-align: center;
  }
  div.big-metric > div .subtitle {
    padding-top: 0;
  }
}
div.micro-metric {
  font-size: 1em;
  text-align: left;
  margin-bottom: 5px;
}
div.micro-metric i {
  color: #666;
}
div.micro-metric .subtitle {
  text-align: right;
}
div.micro-metric .subtitle::after {
  content: ":";
}
@media (min-width: 768px) {
  div.micro-metric {
    text-align: center;
  }
  div.micro-metric .subtitle {
    text-align: center;
    font-size: 0.8em;
    opacity: 0.5;
  }
  div.micro-metric .subtitle::after {
    content: "";
  }
}
#login-pin input {
  font-size: 2em;
  height: 60px;
}
div.panel-page-header div.panel-project {
  height: 150px;
  position: relative;
  background-image: url(http://test4theory.cern.ch/about/img/behind.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 0 0;
}
div.panel-page-header div.panel-project div.panel-project-title {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  padding: 4px 5px 4px 20px;
}
div.panel-page-header div.panel-project div.panel-project-title div.title-content {
  position: relative;
}
div.panel-page-header div.panel-project div.panel-project-title div.title-content h1 {
  color: inherit;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  font-size: 28px;
  margin: 2px 0;
}
div.panel-page-header div.panel-project div.panel-project-title div.title-content p {
  opacity: 0.6;
  color: inherit;
  font-size: 14px;
  margin: 2px 0;
}
div.panel-page-header div.panel-project div.panel-project-title div.title-back {
  height: 100%;
  left: 0px;
  right: 0px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -12px;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  opacity: 0.8;
}
.legend-bullet {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 16px;
  margin-right: 10px;
}
.panel-legend {
  font-size: 12px;
}
.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.btn-social i {
  float: left;
  font-size: 1.5em;
  margin-top: -3px;
}
.form-inline p input,
.form-inline h1 input,
.form-inline h2 input,
.form-inline h3 input,
.form-inline h4 input {
  font-size: inherit;
  vertical-align: 0px;
}
.text-smaller {
  font-size: 14px;
}
.loading-indicator {
  height: 30px;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
div.credit-rank-panel {
  text-align: center;
  margin: 0 25px 4px 0;
}
div.credit-rank-panel > div > div {
  margin-top: 20px;
}
div.credit-rank-panel .credit-header {
  font-size: 0.8em;
  color: #CCC;
}
div.credit-rank-panel .credit-body .credit {
  font-size: 3em;
  font-weight: bold;
  line-height: 105px;
}
div.credit-rank-panel .credit-body .credit.credit-smaller {
  font-size: 2em;
}
div.credit-rank-panel .credit-body .credit.credit-smallest {
  font-size: 1.4em;
}
div.credit-rank-panel .credit-body .rank-laurel {
  margin: 0 auto;
  width: 128px;
  height: 105px;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
div.credit-rank-panel .credit-body .rank-laurel.rank-laurel-green {
  background-image: url(../img/status/laurel-green.png);
}
div.credit-rank-panel .credit-body .rank-laurel.rank-laurel-green .rank-circle,
div.credit-rank-panel .credit-body .rank-laurel.rank-laurel-green .rank-top {
  color: green;
}
div.credit-rank-panel .credit-body .rank-laurel.rank-laurel-gold {
  background-image: url(../img/status/laurel-gold.png);
}
div.credit-rank-panel .credit-body .rank-laurel.rank-laurel-gold .rank-circle,
div.credit-rank-panel .credit-body .rank-laurel.rank-laurel-gold .rank-top {
  color: #FF931E;
}
div.credit-rank-panel .credit-body .rank-laurel.rank-laurel-gray {
  background-image: url(../img/status/laurel-gray.png);
}
div.credit-rank-panel .credit-body .rank-laurel.rank-laurel-gray .rank-circle,
div.credit-rank-panel .credit-body .rank-laurel.rank-laurel-gray .rank-top {
  color: #999;
}
div.credit-rank-panel .credit-body .rank-laurel .rank-circle {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 22px;
}
div.credit-rank-panel .credit-body .rank-laurel.rank-with-top .rank-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 0.8em;
}
div.credit-rank-panel .credit-body .rank-laurel.rank-size-2 > .rank-circle {
  font-size: 3em;
  font-weight: bold;
  line-height: 80px;
}
div.credit-rank-panel .credit-body .rank-laurel.rank-size-3 > .rank-circle {
  font-size: 2em;
  font-weight: bold;
  line-height: 80px;
}
div.credit-rank-panel .credit-body .rank-laurel.rank-size-4 > .rank-circle {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 80px;
}
@media (min-width: 768px) {
  .credit-rank-panel > div > div {
    margin-top: 0;
  }
}
div.achievements > div {
  padding: 5px;
}
div.achievements > div label {
  width: 100px;
}
div.achievements > div .icon {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
div.achievements > div .icon .badge {
  display: block;
  position: absolute;
  right: -2px;
  bottom: -2px;
  height: 18px;
}
.next-achievement {
  background-color: #FFF;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
}
.next-achievement p {
  margin-bottom: 5px;
}
.next-achievement p.teaser {
  font-weight: bold;
}
.next-achievement hr {
  margin: 10px 0;
}
.next-achievement .title {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 0 13px;
  font-weight: 300;
  line-height: 1.4;
  font-size: 1.2em;
}
.next-achievement img {
  max-width: 60px;
}
.achievement-board {
  text-align: center;
}
.achievement-board .achievements {
  margin: 0 auto;
}
.achievement-board .achievements > div.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  float: left;
  width: 120px;
  height: 120px;
  cursor: pointer;
}
.achievement-board .achievements > div.icon > a.project-button {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}
.achievement-board .achievements > div.icon > a.project-button > span.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.achievement-board .achievements > div.icon:hover > a.project-button {
  opacity: 1.0;
}
@media (min-width: 430px) {
  .achievement-board > .achievements {
    width: 360px;
  }
  .achievement-board > .achievements > div.icon:nth-child(5n+1) {
    clear: left;
  }
  .achievement-board > .achievements > div.icon:nth-child(5n+4) {
    clear: left;
    margin-left: 60px;
  }
}
@media (min-width: 550px) {
  .achievement-board > .achievements {
    width: 480px;
  }
  .achievement-board > .achievements > div.icon:nth-child(5n+1) {
    clear: none;
  }
  .achievement-board > .achievements > div.icon:nth-child(5n+4) {
    clear: none;
    margin-left: 0;
  }
  .achievement-board > .achievements > div.icon:nth-child(7n+1) {
    clear: left;
  }
  .achievement-board > .achievements > div.icon:nth-child(7n+5) {
    clear: left;
    margin-left: 60px;
  }
}
@media (min-width: 670px) {
  .achievement-board > .achievements {
    width: 600px;
  }
  .achievement-board > .achievements > div.icon:nth-child(7n+1) {
    clear: none;
  }
  .achievement-board > .achievements > div.icon:nth-child(7n+5) {
    clear: none;
    margin-left: 0;
  }
  .achievement-board > .achievements > div.icon:nth-child(9n+1) {
    clear: left;
  }
  .achievement-board > .achievements > div.icon:nth-child(9n+6) {
    clear: left;
    margin-left: 60px;
  }
}
@media (min-width: 992px) {
  .achievement-board > .achievements {
    width: 840px;
  }
  .achievement-board > .achievements > div.icon:nth-child(9n+1) {
    clear: none;
  }
  .achievement-board > .achievements > div.icon:nth-child(9n+6) {
    clear: none;
    margin-left: 0;
  }
  .achievement-board > .achievements > div.icon:nth-child(13n+1) {
    clear: left;
  }
  .achievement-board > .achievements > div.icon:nth-child(13n+8) {
    clear: left;
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .achievement-board > .achievements {
    width: 1080px;
  }
  .achievement-board > .achievements > div.icon:nth-child(13n+1) {
    clear: none;
  }
  .achievement-board > .achievements > div.icon:nth-child(13n+8) {
    clear: none;
    margin-left: 0;
  }
  .achievement-board > .achievements > div.icon:nth-child(17n+1) {
    clear: left;
  }
  .achievement-board > .achievements > div.icon:nth-child(17n+10) {
    clear: left;
    margin-left: 60px;
  }
}
div.collapsible > div {
  -webkit-transition: max-height 0.25s ease-in;
  -moz-transition: max-height 0.25s ease-in;
  -o-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
  overflow: hidden;
  max-height: 500px;
  position: relative;
  margin-bottom: 10px;
}
div.collapsible > div:after {
  -webkit-transition: top 0.25s ease-in;
  -moz-transition: top 0.25s ease-in;
  -o-transition: top 0.25s ease-in;
  transition: top 0.25s ease-in;
  content: " ";
  display: block;
  background-color: #fefefe;
  height: 3px;
  position: absolute;
  width: 100%;
  box-shadow: #fefefe 0px -4px 15px;
  top: 500px;
}
div.collapsible > input {
  height: 1px;
  width: 1px;
  position: absolute;
  visibility: hidden;
}
div.collapsible > input:checked + div {
  -webkit-transition: max-height 0.25s ease-out;
  -moz-transition: max-height 0.25s ease-out;
  -o-transition: max-height 0.25s ease-out;
  transition: max-height 0.25s ease-out;
  max-height: 65px;
}
div.collapsible > input:checked + div:after {
  -webkit-transition: top 0.25s ease-out;
  -moz-transition: top 0.25s ease-out;
  -o-transition: top 0.25s ease-out;
  transition: top 0.25s ease-out;
  top: 65px;
}
div.collapsible > input:checked + div + label > span:after {
  content: "Read more";
}
div.collapsible > label {
  float: right;
}
div.collapsible > label > span::after {
  content: "Read less";
  font-size: 14px;
  color: #29ABE2;
  cursor: pointer;
}
