html {
  min-height: 100%;
}
body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  font-size: 16px;
}
.piggy-logo-header {
  height: 80px;
  position: relative;
  margin-top: 10px;
}
.piggy-logo-header .logo {
  width: 126px;
  height: 126px;
  border-radius: 63px;
  padding-left: 5px;
  padding-top: 4px;
  position: absolute;
  right: 0;
}
.piggylogo-big > img {
  width: 100%;
}
.piggylogo-big > img.flat {
  display: block;
}
.piggylogo-big > img.big {
  display: none;
}
.spacer-5 {
  margin-top: 5px;
}
@media (min-width: 768px) {
  .piggylogo-big > img.flat {
    display: none;
  }
  .piggylogo-big > img.big {
    display: block;
  }
  .header-spacer {
    height: 75px;
  }
  .spacer-5 {
    margin-top: 0;
  }
}
div.plot div.plot-graph {
  height: 200px;
}
.btn-social i {
  float: left;
  font-size: 1.5em;
  margin-top: -3px;
}
.form-inline p input,
.form-inline h1 input,
.form-inline h2 input,
.form-inline h3 input,
.form-inline h4 input {
  font-size: inherit;
  vertical-align: 0px;
}
.text-smaller {
  font-size: 14px;
}
.loading-indicator {
  height: 30px;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
div.collapsible > div {
  -webkit-transition: max-height 0.25s ease-in;
  -moz-transition: max-height 0.25s ease-in;
  -o-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
  overflow: hidden;
  max-height: 500px;
}
div.collapsible > input {
  height: 1px;
  width: 1px;
  position: absolute;
  visibility: hidden;
}
div.collapsible > input:checked + div {
  -webkit-transition: max-height 0.25s ease-out;
  -moz-transition: max-height 0.25s ease-out;
  -o-transition: max-height 0.25s ease-out;
  transition: max-height 0.25s ease-out;
  max-height: 65px;
}
div.collapsible > input:checked + div + label > span:after {
  content: "Read more";
}
div.collapsible > label {
  float: right;
}
div.collapsible > label > span::after {
  content: "Read less";
  font-size: 14px;
  color: #29ABE2;
  cursor: pointer;
}
